
<!-- /app/common/
@{ngCommon('swap')} -->
@{import('ui-bootstrap-tpls-0.14.3.min.js', 'angular/angular-ui-router.js', 'angular/angular-animate.js', 'angular/angular-sanitize.js', 'd3js/d3.v3.js', 'd3js/c3.js', 'd3js/angular-chart.js', 'ngToast.min.js', 'angucomplete-alt.js', 'splash.js')}

<!-- /app/css/ -->
@{ngStyle('app', 'app-mobile')}

<!-- /app/controllers/ -->
@{ngController('domotix')}

<!-- /app/filters/ -->
@{ngFilter('filters')}

<toast></toast>

<div>
  <h1 class="display-1 xirod"><img src="domotix.ico" /> Domotix</h1>
</div>

<div ng-controller="DomotixCtrl" class="container">
  <div class="tab-pane">
    <ul class="nav nav-tabs">
      <li class="nav-item" ng-repeat="level in levels" title="{{level.name}}">
        <a href="#level_{{level.id}}" class="nav-link" ng-class="{'active': level.id==2}" role="tab" data-toggle="tab">{{level.name}} <span class="badge">({{lightOn(level)}})</span></a>
      </li>
    </ul>
    <div class="tab-content">
      <div ng-repeat="level in levels" id="level_{{level.id}}" role="tabpanel" class="tab-pane" ng-class="{'active': level.id==2}">
        <svg viewBox="0 0 1200 1200" version="1.1" width="1200px" height="1200px" ng-click="handleSvgClick($event, level)">
          <defs>
            <circle id="circle" cx="0" cy="0" r="50" stroke-width="0"></circle>
            <radialGradient id="circle_off" r="50%">
              <stop stop-color="grey" offset="0%"></stop>
              <stop stop-color="white" offset="100%"></stop>
            </radialGradient>
            <radialGradient id="circle_on" r="50%">
              <stop stop-color="black" offset="0%"></stop>
              <stop stop-color="teal" offset="50%"></stop>
              <stop stop-color="white" offset="100%"></stop>
            </radialGradient>
            
            <rect id="square" x="-50" y="-50" width="100" height="100" stroke-width="0"></rect>
            <radialGradient id="square_off" r="75%">
              <stop stop-color="grey" offset="0%"></stop>
              <stop stop-color="white" offset="100%"></stop>
            </radialGradient>
            <radialGradient id="square_on" r="75%">
              <stop stop-color="black" offset="0%"></stop>
              <stop stop-color="teal" offset="50%"></stop>
              <stop stop-color="white" offset="100%"></stop>
            </radialGradient>
            
            <!--<g id="christmas">
              <rect x="0" y="0" width="500" height="50" fill="#01009C" stroke-width="0"></rect>
              <circle cx="25" cy="25" r="10" stroke-width="0" fill="#fff">
                <animate attributeType="CSS" attributeName="opacity" 
                  from="0" to="1" dur="5s" repeatCount="indefinite" />
              </circle>
              <circle cx="75" cy="25" r="10" stroke-width="0" fill="#fff">
                <animate attributeType="CSS" attributeName="opacity" 
                  from="0.2" to="1" dur="4s" repeatCount="indefinite" />
              </circle>
              <circle cx="125" cy="25" r="10" stroke-width="0" fill="#fff">
                <animate attributeType="CSS" attributeName="opacity" 
                  from="0.9" to="0" dur="5s" repeatCount="indefinite" />
              </circle>
              <circle cx="175" cy="25" r="10" stroke-width="0" fill="#fff">
                <animate attributeType="CSS" attributeName="opacity" 
                  from="0.1" to="0.9" dur="5s" repeatCount="indefinite" />
              </circle>
              <circle cx="225" cy="25" r="10" stroke-width="0" fill="#fff">
                <animate attributeType="CSS" attributeName="opacity" 
                  from="0.9" to="0" dur="4s" repeatCount="indefinite" />
              </circle>
              <circle cx="275" cy="25" r="10" stroke-width="0" fill="#fff">
                <animate attributeType="CSS" attributeName="opacity" 
                  from="0" to="1" dur="3s" repeatCount="indefinite" />
              </circle>
              <circle cx="325" cy="25" r="10" stroke-width="0" fill="#fff">
                <animate attributeType="CSS" attributeName="opacity" 
                  from="0.9" to="0" dur="5s" repeatCount="indefinite" />
              </circle>
              <circle cx="375" cy="25" r="10" stroke-width="0" fill="#fff">
                <animate attributeType="CSS" attributeName="opacity" 
                  from="0.9" to="0" dur="4s" repeatCount="indefinite" />
              </circle>
              <circle cx="425" cy="25" r="10" stroke-width="0" fill="#fff">
                <animate attributeType="CSS" attributeName="opacity" 
                  from="0.3" to="0.8" dur="2s" repeatCount="indefinite" />
              </circle>
              <circle cx="475" cy="25" r="10" stroke-width="0" fill="#fff">
                <animate attributeType="CSS" attributeName="opacity" 
                  from="0.9" to="0.3" dur="5s" repeatCount="indefinite" />
              </circle>
            </g>-->
            
            <path id="l3" d="M0,0 v-50 a-50,*50 0 0,0 -50,50 z" fill="yellow" stroke="red" stroke-width="5" />
            <path id="l4" d="M100,100 h-50 a50,50 0 0,0 200,0 z" fill="yellow" stroke="red" stroke-width="5" />
        
          </defs>
          
          <path id="level{{level.id}}" d="{{level.path}}" fill="white" stroke="#428bca" stroke-width="6"></path>
          
          <use ng-repeat="light in level.lights" id="light-{{light.swapDeviceAddress}}-{{light.outputNb}}" 
            xlink:href="{{lightDef(level, null, light)}}" fill="{{lightFill(level, null, light)}}" transform="{{lightTransform(level, null, light)}}"></use>
          
          <g ng-repeat="room in level.rooms">
            <path id="room{{room.id}}" d="{{room.path}}" fill="white" stroke="#428bca" stroke-width="3"></path>
            
            <use ng-repeat="light in room.lights" id="light-{{light.swapDeviceAddress}}-{{light.outputNb}}" 
              xlink:href="{{lightDef(level, room, light)}}" fill="{{lightFill(level, room, light)}}" transform="{{lightTransform(level, room, light)}}"></use>
            
            <g ng-repeat="device in devices | objectToArray | filter: { location: { room_id: room.id }}">
              <text x="{{devicePosition(level, room, device)[0]}}" y="{{devicePosition(level, room, device)[1]}}" ng-show="device.temperature">{{device.temperature.value}}</text>
              <text x="{{devicePosition(level, room, device)[0]}}" y="{{devicePosition(level, room, device)[1] + 20}}" ng-show="device.pressure">{{device.pressure.value}}</text>
            </g>
          </g>
          
        </svg>
      </div>
  </div>
</div>