
<!-- /app/common/
@{ngCommon('swap')} -->
@{import('ui-bootstrap-tpls-0.14.3.min.js', 'angular/angular-ui-router.js')}

<!-- /app/services/ -->
@{ngService('websocketService')}

<!-- /app/css/ -->
@{ngStyle('app')}

<!-- cdnjs -->
@{ngLocale('fr-be')}

<!-- /app/controllers/ 
@{ngController('domotix', 'devices', 'config', 'network', 'events', 'plugins', 'admin')} -->
@{ngController('domotix', 'devices', 'config', 'admin')}

<!-- /app/filters/ -->
@{ngFilter('filters')}

<div>
  <h1 class="display-1 xirod"><img src="domotix.ico" /> Domotix <small>Carpe Diem</small></h1>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" ui-sref-active="active" class="nav-item active"><a ui-sref="home" class="nav-link">Home</a></li>
  <li role="presentation" ui-sref-active="active" class="nav-item"><a ui-sref="devices" class="nav-link">Devices</a></li>
  <li role="presentation" ui-sref-active="active" class="nav-item"><a ui-sref="config" class="nav-link">Config</a></li>
  <li role="presentation" ui-sref-active="active" class="nav-item"><a ui-sref="network" class="nav-link">Network</a></li>
  <li role="presentation" ui-sref-active="active" class="nav-item"><a ui-sref="events" class="nav-link">Events</a></li>
  <li role="presentation" ui-sref-active="active" class="nav-item"><a ui-sref="plugins" class="nav-link">Plugins</a></li>
  <li role="presentation" ui-sref-active="active" class="nav-item"><a ui-sref="admin" class="nav-link">Admin</a></li>
</ul>
      
<toast />

<div ui-view>
	<!-- VIEW -->
</div>
    
<div id="warning" class="modal hide fade">
  <div class="modal-header">
    <h3>Connection Lost !</h3>
  </div>
  <div class="modal-body">
    <p> </p>The connection to the server has been lost
  </div>
  <div class="modal-footer"></div>
</div>

<!-- @{ngTemplate('list')}-->