<div ng-controller="AdminCtrl" class="tab-pane">
  
  <!-- Nav tabs
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item"><a class="nav-link" href="#/admin#android" role="tab" data-toggle="tab">Android</a></li>
    <li class="nav-item"><a class="nav-link" href="#/admin#network" role="tab" data-toggle="tab">Network</a></li>
    <li class="nav-item"><a class="nav-link" href="#/admin#messages" role="tab" data-toggle="tab">Messages</a></li>
    <li class="nav-item"><a class="nav-link" href="#/admin#couchdb" role="tab" data-toggle="tab">Couch DB</a></li>
    <li class="nav-item"><a class="nav-link" href="#/admin#rabbitmq" role="tab" data-toggle="tab">Rabbit MQ</a></li>
    <li class="nav-item"><a class="nav-link" href="#/admin#???" role="tab" data-toggle="tab">???</a></li>
    <li class="nav-item"><a class="nav-link" href="#/admin#acra" role="tab" data-toggle="tab">ACRA</a></li>
  </ul> -->

  <!-- Tab panes -->
  <!-- <div class="tab-content"> -->
    <div role="tabpanel" class="tab-pane active" id="android">
      <div class="card">
        <div class="card-header">Android Application</div>
        <div class="card-block">
          <div><a href="../Domotix.apk"><strong>Domotix</strong></a></div>
        </div>
      </div>      
    </div>
    <div role="tabpanel" class="tab-pane" id="network">
      <div class="card">
        <div class="card-header">Scan</div>
        <div class="card-block">
          <div><a ng-click="checkNewDevices()"><strong>Check stamps</strong></a>
            <hr/><a ng-click="refreshDevices(true)"><strong>Refresh devices</strong></a>
            <hr/><a ng-click="refreshSwapPacketsEvents()"><strong>Refresh Swap packets</strong></a>
            <hr/><a ng-click="refreshState(true)"><strong>Refresh state</strong></a>
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="messages">
      <div class="card">
        <div class="card-header">Messages</div>
        <div class="card-block">
          <div class="card">
            <div class="card-header">Send message</div>
            <div class="card-block">
              <form ng-submit="sendMessage(message)" role="form">
                <div class="form-group">
                  <label>Function codes</label>
                  <select ng-model="message.func" ng-options="key for (key, value) in functions" class="form-control"></select>
                </div>
                <div class="form-group">
                  <label>Destination address</label>
                  <input type="number" ng-model="message.address" class="form-control"/>
                </div>
                <div class="form-group">
                  <label>Register ID</label>
                  <select ng-model="message.register" ng-options="name for (name, reg) in registers" class="form-control"></select>
                  <input type="number" ng-model="message.register.id" class="form-control"/>
                </div>
                <div class="form-group">
                  <label>Register Value (Command only - Length and value)</label>
                  <input type="number" ng-model="message.register.length" ng-disabled="message.func &lt; 2" class="form-control"/>
                  <input type="number" ng-model="message.register.value" ng-disabled="message.func &lt; 2" class="form-control"/>
                  <input ng-model="message.register.valueStr" ng-disabled="message.func &lt; 2" class="form-control"/>
                </div><br/>
                <input type="submit" value="Send" class="btn-primary"/>
              </form>
            </div>
          </div>
          <div class="card">
            <div class="card-header">Decode message</div>
            <div class="card-block">
              <form role="form">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><span ng-click="decodeMessage(rawMessage)" class="fa fa-refresh"></span></div>
                    <div class="input-group-addon"><span ng-click="sendMessage(decodedMessage)" class="fa fa-play" title="Send message"></span></div>
                    <div class="input-group-addon"><span ng-click="messageFromCloud(decodedMessage)" class="fa fa-cloud" title="Simulate message"></span></div>
                    <input type="text" placeholder="SWAP Packet" size="40" ng-model="rawMessage" ng-change="decodeMessage(rawMessage)" class="form-control"/>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-1">RSSI {{ decodedMessage.RSSI }}</div>
                  <div class="col-md-1">LQI {{ decodedMessage.LQI }}</div>
                  <div class="col-md-1">To {{ decodedMessage.dest }}</div>
                  <div class="col-md-1">From {{ decodedMessage.source }}</div>
                  <div class="col-md-1">Hop {{ decodedMessage.hop }}</div>
                  <div class="col-md-1">Security {{ decodedMessage.security }}</div>
                  <div class="col-md-1">Nonce {{ decodedMessage.nonce }}</div>
                  <div class="col-md-1">Function {{ decodedMessage.func }}</div>
                  <div class="col-md-1">Register {{ decodedMessage.regAddress }} / {{ decodedMessage.regId }}</div>
                  <div class="col-md-1">Value {{ decodedMessage.regValue }}</div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="messages">
      <div class="card">
        <div class="card-header">Simulator</div>
        <div class="card-block">
          <div class="card">
            <div class="card-header">New device</div>
            <div class="card-block">
              <form ng-submit="createNewDevice(newDevice)" role="form">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" placeholder="Product Code" size="40" ng-model="newDevice.productCode" class="form-control"/>
                    <input type="text" placeholder="Hardware Version" size="40" ng-model="newDevice.hardwareVersion" class="form-control"/>
                    <input type="text" placeholder="Firmware Version" size="40" ng-model="newDevice.firmwareVersion" class="form-control"/>
                    <input type="text" placeholder="Address" size="5" ng-model="newDevice.address" class="form-control"/>
                  </div>
                </div><br/>
                <input type="submit" value="Send" class="btn-primary"/>
              </form>
            </div>
          </div>
          <div class="card">
            <div class="card-header">Change device address</div>
            <div class="card-block">
              <form ng-submit="changeDeviceAddress(changeDevice)" role="form">
                <div class="form-group">
                  <div class="input-group">
                    <input type="number" placeholder="Old address" size="10" ng-model="changeDevice.oldAddress" class="form-control"/>
                    <input type="number" placeholder="New address" size="40" ng-model="changeDevice.newAddress" class="form-control"/>
                  </div>
                </div><br/>
                <input type="submit" value="Send" class="btn-primary"/>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="couchdb">
      <div class="card">
        <div class="card-header">Configuration</div>
        <div class="card-block">
          <ul>
            <li>Script: /etc/init.d/couchdb</li>
            <li>Configuration: /etc/default/couchdb</li>
            <li>Log: /var/log/couchdb/</li>
            <li>Url: <a href="http://192.168.1.2:5984/_utils/index.html" target="_couchdb">Admin</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="rabbitmq">
      <div class="card">
        <div class="card-header">Configuration</div>
        <div class="card-block">
          <ul>
            <li>Script: /etc/init.d/rabbitmq-server</li>
            <li>Configuration: /etc/rabbitmq/rabbitmq.config </li>
            <li>Log: /var/log/rabbitmq/</li>
            <li>Url: <a href="http://domotix:domotix@192.168.1.2:55672/" target="_rabbitmq">Admin</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="acra">
      <div class="card">
        <div class="card-header">Configuration</div>
        <div class="card-block">
          <ul>
            <li>Configuration: /etc/rabbitmq/rabbitmq.config</li>
            <li>Url: <a href="http://192.168.1.2:5984/acralyzer/_design/acralyzer/index.html" target="_acra">Acra</a></li>
          </ul>
        </div>
      </div>
    </div>
  <!-- </div> -->
  
</div>