<div ng-controller="NetworkCtrl" class="container-fluid">

  <div class="card card-block">
    <h4 class="card-title">Swap Events</h4>
    <div class="card-block">
      <div ng-repeat="swapEvent in swapEvents" ng-class="{even: $even, odd: $odd}"><span class="text-{{swapEvent.topic}}">{{swapEvent.type | uppercase}}: {{swapEvent.text}}</span><span class="pull-right muted"><small> {{swapEvent.time| date:"dd/MM/yyyy @ HH:mm:ss"}} </small></span></div>
    </div>
  </div>
  
  <div class="card card-block">
    <h4 class="card-title">Swap Packets</h4>
    <div class="card-block">
      <div ng-repeat="swapPacket in swapPackets" ng-class="{even: $even, odd: $odd}"><span>{{swapPacket}} </span><span class="pull-right muted">{{swapPacket.time | date:"dd/MM/yyyy @ HH:mm:ss"}}</span></div>
    </div>
  </div>
  
  <div class="card card-block">
    <h4 class="card-title">Quality</h4>
    <div class="card-block">
      <div id="chart-quality" ng-click="refreshQuality($event)" style="height: 600px"></div>
      <button ng-click="previousQuality($event)" class="btn btn-primary">Previous</button>
      <button ng-click="nextQuality($event)" ng-class="{'btn-primary': quality.offsetData &gt; 0}" ng-disabled="quality.offsetData == 0" class="btn btn-default">Next</button>
    </div>
  </div>
  
  <div class="card card-block">
    <h4 class="card-title">Nonce</h4>
    <div class="card-block">
      <div id="chart-nonce" ng_click="refreshNonce($event)" style="height: 500px"></div>
      <button ng-click="previousNonce($event)" class="btn btn-primary">Previous</button>
      <button ng-click="nextNonce($event)" ng-class="{'btn-primary': nonce.offsetData &gt; 0}" ng-disabled="nonce.offsetData == 0" class="btn btn-default">Next</button>
    </div>
  </div>
  
</div>