<div class="plugins">
  
  <div angucomplete
    id="ex14"
    placeholder="Search countries"
    pause="100"
    selected-object="countrySelected14"
    local-data="countries"
    search-fields="name"
    title-field="name"
    minlength="1"
    input-class="form-control form-control-small"
    match-class="highlight"
    template-url="/suggest-item-template.html">
  </div>

  <!--<tabs>
    <pane title="Barometre">
      <iframe src="/pressure.html" width="100%" height="740" frameborder="0"></iframe>
    </pane>
    <pane title="Température">
      <include filename="./chart_temperature.jade"></include>
    </pane>
    <pane title="Eau - electricite...">
      <include filename="./chart_consommation.jade"></include>
    </pane>
  </tabs>-->
  
</div>